<a ui-sref="staff" class="pull-right btn-primary2 btn-outline"><span class="glyphicon glyphicon-user"></span> Skoða Starfsfólk</a>
<div class="row">
	<div class="col-sm-12">
		

		<h2>Hér er allur maturinn sem er í boði:</h2>
	</div>
			<div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">
				<div id="imaginary_container">
					<div class="input-group stylish-input-group">
						<input type="text" ng-model="searchBox" class="form-control" placeholder="Leita...">
						<span class="input-group-addon">
											<span class="glyphicon glyphicon-search"></span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
<div ng-repeat="x in myDataFood | filter:searchBox">
	<div class="col-sm-3 containers staffname">
		<img cl-src="{{x.photourl}}" class="staffphoto">
	</img>

		<p class = "onlyonerow">{{x.name}}</p>
		<p class = "onlyonerow">Verð: {{x.price}} kr</p>
	</div>
</div>
</div>