<a ui-sref="staff" class="pull-right btn btn-primary btn-outline btn-rounded">Skoða Starfsfólk</a>
<div class="row">
	<div class="col-sm-8">
		<h2>Velkomin, <small>Hér er hægt að skoða matinn sem er í boði</small></h2>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<div id="imaginary_container">
					<div class="input-group stylish-input-group">
						<input type="text" class="form-control" placeholder="Search">
						<span class="input-group-addon">
										<button type="submit">
											<span class="glyphicon glyphicon-search"></span>
						</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
<div ng-repeat="x in myDataSchool" ng-click="selectFood(x)">
	<div class="col-sm-2 containers staffname">
		<p>{{x.name}}</p>
		<img src="images/flat-avatar.png" class="staffphoto" />
	</div>
</div>
</div>