<div class="container">
	<h2><small>Vörulisti</small></h2>
	<br>
</div>
<div class="container input-group input-group-lg col-sm-6 justify-content-md-center">
	<span class="input-group-text" id="loginInputs">
		<i class="bi bi-search" style="font-size: 2rem;"></i>
	</span>
	<input ng-model="searchBox" type="text" class="form-control form-control-lg" placeholder="Leita..."
		style="max-width: 20em;">
</div>
<br>
<div class="container align-central">
	<div class="row justify-content-md-center">
		<div ng-repeat="x in myDataProduct | filter:searchBox | orderBy:'name'" id="productCard" class="col col-2">
			<div class="staffname">
				<img cl-src="{{x.photourl}}" class="card-img-top" err-src="../../images/no_photo.png"/>
				<br>
				<div class="productname">
					<!--p class="onlyonerow">Flokkur: {{x.category}}</p-->
					<p>Verð: {{x.price}}kr</p>
					<h4 id="productHeader">{{x.name}}
					</h4>
				</div>
			</div>
		</div>
	</div>
</div>