<div class="row">
    <div class="col-sm-12">
        <h2>Velkomin {{employee.nickname}}, þú átt {{employee.credit}}kr</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <div id="imaginary_container">
                        <div class="input-group stylish-input-group">
                            <input type="text" ng-model="searchBox" class="form-control ng-valid" placeholder="Leita..." ng-model="searchKeyword">
                            <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-search"></span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-8">
        <h3>Veldu í körfuna þína:</h3>
        <div ng-repeat="x in myDataFood | filter:searchBox" ng-click="selectFood(x)" >
            <div class="containers staffname col-sm-3" type="add" ng-click="addFood(x)">
                <img cl-src="{{x.photourl}}"></img>
                </img>
                <div class="foodname">
                <p>{{x.name}}</p> 
                <p>Verð: {{x.price}} kr</p>
            </div>

            </div>
        </div>
    </div>


    <div class="col-sm-4">
        <h3>Karfan þín:</h3>
        <table class="table table-condensed table-hover" id="shoppingbag">
            <thead>
                <tr>
                    <th>Matur</th>
                    <th>Verð</th>
                    <th>Fjöldi</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in receipt" type="remove" ng-click="removeFood(x)">
                    <td>{{x.name}}
                    </td>
                    <td>{{x.price}}
                    </td>
                    <td>{{x.quantity}}
                    </td>
                    <td>&nbsp;
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Samtals: {{total}}kr</th>
                </tr>
            </tbody>

        </table>

        <button class="btn btn-success">Kaupa</button>
        <button class="btn btn-danger">Hætta við</button>

    </div>
</div>
</div>