<div class="row">
    <div class="col">
        <div class="row">
            <div class="col col-8">
                <div class="input-group input-group-lg col-sm-6 justify-content-md-center">
                    <span class="input-group-text" id="loginInputs">
                        <i class="bi bi-search" style="font-size: 2rem;"></i>
                    </span>
                    <input ng-model="searchBox" type="text" class="form-control form-control-lg" placeholder="Leita..."
                        placeholder="Lykilorð" style="max-width: 20em;">
                </div>
            </div>

                <div class="col col-8">
                    <div class="row">
                    <div ng-repeat="x in myDataProduct | filter:searchBox" ng-click="selectProduct(x)" id="productCard" class="col col-2">
                        <div class="staffname" type="add" ng-click="addProduct(x)">
                            <h4 id="productHeader">{{x.name}}
                            </h4>
                            
                            <img cl-src="{{x.photourl}}" class="card-img-top" err-src="../../images/no_photo.jpg"></img>
                            <br>
                            <div class="productname">
                                <h5 style="font-weight: 600;">{{x.price}} kr</h5>
                                <!--p class="onlyonerow">Flokkur: {{x.category}}</p-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    

    <div class="col col-4 position-fixed" id="staffInfo">
        <!--div class="row align-central align-items-center" style="padding: 0px 3em 0px 3em">
            <div class="col col-6" style="text-align: right;">
                <img cl-src="{{employee.photourl}}" class="p-2" style="max-width: 10em;"></img>
            </div>
            <div class="col col-6" style="color: black;">
                <h4></h4>
                <h5>Inneign: <strong>{{employee.credit}} kr</strong></h5>
            </div>
        </div-->
        <div class="align-central" id="karfan">
            <h3 style="text-align: center;">
                <i class="bi bi-cart4" style="font-size: 2rem; padding-right: 0.2em;"></i>{{employee.nickname}}
            </h3>
            <table class="table table-condensed table-hover align-left" style="overflow-y: scroll; ">
                <thead id="korfuHeader">
                    <tr>
                        <th>Vörur</th>
                        <th style="text-align: center">Fjöldi</th>
                        <th style="text-align: center">Verð</th>
                        <th style="text-align: center; width: 10%;"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in receipt" type="remove" ng-click="removeProduct(x)" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" title="Fjarlægja">
                        <td style="vertical-align: middle;">{{x.name}}</td>
                        <td style="text-align: center; vertical-align: middle;">{{x.quantity}}</td>
                        <td style="text-align: center; vertical-align: middle;">{{x.price}} kr</td>
                        <td style="text-align: center; vertical-align: middle;" ><i class="bi bi-dash" style="font-size: 1.5rem; color: #dc3545;"></i></td>

                    </tr>
                    <tr style="border-top: 0.2em double black">
                        <th style="border:none; vertical-align: middle;">Samtals:</th>
                        <th style="border:none; vertical-align: middle; text-align: center;">{{total_count}}</th>
                        <th style="border:none; vertical-align: middle; text-align: center;">{{total}} kr</th>
                        <th style="border:none; vertical-align: middle;"></th>
                    </tr>
                    <tr>
                        <th colspan="2" style="font-weight:400; border:none; vertical-align: middle;">Inneign:</th>
                        <th style="font-weight:400; border:none; vertical-align: middle; text-align: center;">{{creditAfter}} kr</th>
                        <th style="border:none; vertical-align: middle;"></th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="alert alert-danger" role="alert" ng-show="notEnoughCredit">
            <p><i class="bi bi-exclamation-circle" style="font-size: 1rem; padding-right: 0.5em;"></i>{{message2}}</p>
        </div>
        <div class="btn-toolbar justify-content-between align-text-bottom" style="padding: 0px 20px 0px 20px;">
            <button class="btn btn-lg btn-secondary" ng-click="buyProduct(x)">
                <i class="bi bi-check-circle" style="font-size: 1.2rem; padding-right: 0.4em;"></i>Kaupa</button>
            <button class="btn btn-lg btn-outline-secondary" ng-click="removeAllProduct()"><i class="bi bi-x-circle"
                    style="font-size: 1.2rem; padding-right: 0.4em;"></i>Tæma</button>
        </div>
        <br>
        <br>

        </div>
    </div>
</div>