<div class="row">
    <div class="col-sm-8">
        <h2>Velkomin {{employee.name}}, þú átt {{employee.credit}}kr</h2>
    </div>

    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>Matur</th>
                <th>Verð</th>
                <th>Fjöldi</th>
                <th>Samtals</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Epli</td>
                <td>500kr</td>
                <td>10stk</td>
            </tr>
            <tr>
                <td>Banani</td>
                <td>100kr</td>
                <td>5stk</td>
            </tr>
            <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td><b>50.000kr</b></td>
             </tr>

        </tbody>
    </table>
</div>

<h2><small>Veldu matinn sem þú ætlar að kaupa</small></h2>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div id="imaginary_container">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-addon">
                            <button type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-2 containers-select">
    <div>
        <img src="images/flat-avatar.png" />
        <p><b>Epli</b></p>
        <p>Verð</p>

        <select class="input-sm">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
         </select>
        <button type="add">
                    <span class="glyphicon glyphicon-plus"></span>
            </button>
    </div>
</div>
</div>