<div class="container" >

	<div layout="row" layout-align="space-around">
		<div style="width:50px"></div>

		<br>

	<div class="alert alert-success" role="alert" ng-show="showSuccessMessage" ng-click="undoLastTransaction()">
		<p><i class="bi bi-cart-check" style="font-size: 1.2rem; padding-right: 2em;"></i>{{message}} 
			<strong style="float:right;" ng-show="undoPossible">Bakfæra</strong>
		</p>
	</div>
	<div class="alert alert-danger" role="alert" ng-show="showErrorMessage">
			<p><i class="bi bi-exclamation-circle" style="font-size: 1.2rem; padding-right: 2em;"></i>{{errorMessage}}</p>
	</div>
	<h2>Starfsfólk</h2>
	</div>

	<div ng-if="!myDataEmployee.length">
		<h4>ekkert starfsfólk skráð, stjórnandi þarf að búa til starfsfólk undir stjórnandasíðunni</h4>
		<br>
	</div>
	<div ng-if="myDataEmployee.length" id="shoppingTop">
		<h4>veldu þig til að byrja að versla</h4>
		<br>
	</div>

</div>

<div class="container input-group input-group-lg col-sm-6 justify-content-md-center">
	<span class="input-group-text" id="loginInputs">
		<i class="bi bi-search" style="font-size: 2rem;"></i>
	</span>
	<input ng-model="searchBox" type="text" class="form-control form-control-lg" placeholder="Leita..." style="max-width: 20em;">
</div>
<br>
<div class="container align-central">
	<div class="row justify-content-md-center">
		<div ng-repeat="x in myDataEmployee | filter:searchBox | orderBy:'name':false:localeSensitiveComparator" ng-click="selectStaff(x)" class="col-sm-2" id="employeeCard">
			<img cl-src="{{x.photourl}}" class="card-img-top" style="padding:0.4em;" err-src="../../images/no_photo_user.png"/>
			<br>
			<h4 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align:center; overflow:hidden; padding-top: 0.2em; white-space: nowrap; margin-bottom: 0px; ">{{x.nickname}}</h4>
		</div>
	</div>
</div>