<a ui-sref="food" class="pull-right btn btn-primary btn-outline btn-rounded">Skoða Mat</a>
<div class="row">
<div class="col-sm-8">
		<h2>Velkomin, <small>Veldu þig með því að smella á myndina af þér</small></h2>
</div>
<div class="col-sm-4">
		<input type="text" name="leita" placeholder="Leita..">
	</div>
</div>
						<div class="col-sm-2 containers">
							<div class="staffname">
								<p>Linda Rós Jónsdóttir með sjuklegalalgngslkelkffsnafn</p>
							</div>
							<img src="images/flat-avatar.png" class="staffphoto" />
						</div>
						<div class="col-sm-2 containers">
								<p>Linda Rós Jónsdóttir</p>
								<img src="images/flat-avatar.png" class="staffphoto" />
							</div>
							<div class="col-sm-2 containers">
									<p>Linda Rós Jónsdóttir</p>
									<img src="images/flat-avatar.png" class="staffphoto" />
								</div>
								<div class="col-sm-2 containers">
										<p>Linda Rós Jónsdóttir</p>
										<img src="images/flat-avatar.png" class="staffphoto" />
									</div>
									<div class="col-sm-2 containers">
											<p>Linda Rós Jónsdóttir</p>
											<img src="images/flat-avatar.png" class="staffphoto" />
										</div>
										<div class="col-sm-2 containers">
												<p>Linda Rós Jónsdóttir</p>
												<img src="images/flat-avatar.png" class="staffphoto" />
											</div>
</div>