<div ng-include src="'views/modules/adminTabs.html'"></div>

<div class="container">
    <div class="row">
      <div class="col col-10" style="width: 100%; padding: 0;">
        <ul class="nav nav-tabs nav-fill">
          <li class="nav-item">
            <h5><a class="nav-link" ng-click="goToStaff()" id="adminNav">
                <i class="bi bi-people" style="font-size: 1.3rem; padding-right: 0.4em;"></i>Starfsmenn</a></h5>
          </li>
          <li class="nav-item">
            <h5><a class="nav-link active" aria-current="page" ng-click="goToProduct()" id="adminNav">
                <i class="bi bi-basket" style="font-size: 1.3rem; padding-right: 0.4em;"></i>Vörur</a></h5>
          </li>
          <li class="nav-item">
            <h5><a class="nav-link" ng-click="goToAdminList()" id="adminNav">
                <i class="bi bi-person-badge" style="font-size: 1.3rem; padding-right: 0.4em;"></i>Stjórnendur</a></h5>
          </li>
          <li class="nav-item">
            <h5><a class="nav-link" ng-click="goToSettings()" id="adminNav">
                <i class="bi bi-gear" style="font-size: 1.3rem; padding-right: 0.4em;"></i>Stillingar</a></h5>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container"  id="fancycontainer">
    <div class="alert alert-success" role="alert" ng-show="successAlert">
      <p>Breytingin tókst, eigðu góðan dag <i class="bi bi-emoji-smile" style="font-size: 1rem;"></i></p>
    </div>
    <div class="alert alert-danger" role="alert" ng-show="errorAlert">
      <p>Ekki tókst að vista breytingar</p>
    </div>
    <div ng-show="!editing">
        <div class="container">
            <div class="row">
                <div class="col" style="padding: 0;">
                    <h2><small>Vörur</small></h2>
                    <br>
                </div>
                <div class="col" style="padding: 0;">
                    <div class="input-group">
                        <span class="input-group-text" id="loginInputs" style="height: 50px;">
                            <i class="bi bi-search" style="font-size: 1.2rem;"></i>
                        </span>
                        <input ng-model="searchBox" type="text" class="form-control ng-valid"
                            placeholder="Leita...">
                    </div>
                </div>
                <div class="col" style="padding: 0;">
                    <button class="btn btn-lg btn-secondary" ng-show="!editing" ng-click="editProduct()" style="float: right;">
                        <i class="bi bi-plus-circle" style="font-size: 1.2rem; padding-right: 0.4em;"></i>Bæta við
                        </button>
                </div>
            </div>
        </div>

        <div ng-if="!productData.length">
            <br>
            <p>Engar vörur skráðar, smelltu á "Bæta við" hér að ofan</p>
            <br>
        </div>
        <div ng-if="productData.length">
            <table id="tafla" class="table table-responsive table-striped table-hover">
                <thead>
                    <tr id="tofluHeader">
                        <th>Vara</th>
                        <!--th>Flokkur</th-->
                        <th>Verð</th>
                        <th style="text-align: center">Mynd</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in productData | filter:searchBox"
                        ng-click="!product.hasOwnProperty('id') || editProduct(product)">
                        <td>{{product.name}}</td>
                        <!--td>{{product.category}}</td-->
                        <td>{{product.price}} kr</td>
                        <td style="text-align: center"><span
                                ng-show="{{product.photourl && product.photourl !== '' && product.photourl !== defaultProductPhotoUrl}}">
                                <i class="bi bi-check-circle" style="color: green; font-size: 1.4rem; padding-right: 0.4em;"></i></span>
                            </span>
                            <span
                                ng-show="{{!product.photourl || product.photourl === '' || product.photourl === defaultProductPhotoUrl}}">
                                <i class="bi bi-x-circle" style="color: red; font-size: 1.4rem; padding-right: 0.4em;"></i></span>
                            </span>
                        </td>
                        <td style="text-align: center"><i class="bi bi-pencil" ng-style="product.hasOwnProperty('id') ? {} : {opacity: .20}"
                                style="font-size: 1.4rem; color:#440A67" title="Breyta"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-------- EDIT ----------->

    <form id="form" role="form" ng-show="editing" ng-submit="submitProduct(currentProduct)">

        <div class="container">
            <div class="row">
                <div class="col">
                    <h2><small>Vara</small></h2>
                    <br>
                </div>
                <div class="col">
                    <button class="btn btn-lg btn-danger" type="button" ng-show="updating" id="deleteProductAndStaff"
                        style="float: right;" ng-click="deleteProduct()"><i class="bi bi-trash"
                            style="font-size: 1.2rem; padding-right: 0.4em;"></i>Eyða vöru</button>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <label for="name">Vara</label>
                    <input id="name" maxlength="40" required ng-model="currentProduct.name" type="text" placeholder="Epli"
                        class="form-control form-control-lg" />

                    <!--br><label for="category">Flokkur</label>
                    <input id="category" maxlength="40" ng-model="currentProduct.category" type="text"
                        placeholder="Ávöxtur" class="form-control form-control-lg" /-->

                    <br><label for=" name">Verð</label>
                    <div class="input-group input-group-lg" style="width: 40%;">
                        <input id="price" required ng-model="currentProduct.price" type="number" placeholder="100"
                            class="form-control form-control-lg" />
                        <span class="input-group-text">
                            kr
                        </span>
                    </div>
                </div>

                <div class="col" style="text-align: center;">
                    <label for="fileInput">Mynd</label>
                    <div ng-show="updating">
                        <img cl-src="{{currentProduct.photourl}}" class="staffphoto"></img>
                    </div>
                    <br>
                    <input id="fileInput" type="file" custom-on-change="uploadFile" accept="image/*" capture="user"
                        class="form-control form-control-lg" style="width: 100%;" />

                    <br>
                </div>

                <div class="btn-toolbar justify-content-between" style="padding-top:4em;">
                    <button class="btn btn-lg btn-secondary" type="submit">
                        <i class="bi bi-check-circle"
                            style="font-size: 1.2rem; padding-right: 0.4em;"></i>Vista</button>
                    <button class="btn btn-lg btn-outline-secondary" type="button" ng-click="back()"><i
                            class="bi bi-x-circle" style="font-size: 1.2rem; padding-right: 0.4em;"></i>Hætta</button>
                </div>
            </div>
        </div>
    </form>
</div>
