<div ng-include src="'views/modules/adminTabs.html'"></div>

<div class="container">
  <div class="row">
    <div class="col col-10" style="width: 100%; padding: 0;">
      <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
          <h5><a class="nav-link" ng-click="goToStaff()" id="adminNav">
              <i class="bi bi-people-fill" style="font-size: 1.3rem; padding-right: 0.4em;"></i>Starfsfólk</a></h5>
        </li>
        <li class="nav-item">
          <h5><a class="nav-link" ng-click="goToProduct()" id="adminNav">
              <i class="bi bi-basket" style="font-size: 1.3rem; padding-right: 0.4em;"></i>Vörur</a></h5>
        </li>
        <li class="nav-item">
          <h5><a class="nav-link" ng-click="goToAdminList()" id="adminNav">
              <i class="bi bi-person-badge" style="font-size: 1.3rem; padding-right: 0.4em;"></i>Stjórnendur</a></h5>
        </li>
        <li class="nav-item">
          <h5><a class="nav-link active" aria-current="page" ng-click="goToSettings()" id="adminNav">
              <i class="bi bi-gear" style="font-size: 1.3rem; padding-right: 0.4em;"></i>Stillingar</a></h5>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container" id="fancycontainer">
  <form id="form" role="form" ng-submit="saveSettings()" novalidate>
    <div class="container">
      <div class="row">
        <div class="col">
          <h2><small>Stillingar</small></h2>
          <br>
        </div>
      </div>
    </div>
  
    <div class="container">

      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" ng-model="newSettings.allowfundsbelowzero"
        id="allowfundsbelowzero">
        <label class="form-check-label" for="allowfundsbelowzero">Neikvæð inneign <span style="font-style: italic;">(leyfir starfsfólki að fara í mínus)</span></label>
      </div>
  <br>
        <div class="btn-toolbar justify-content-between" style="padding-top:4em;">
          <button class="btn btn-lg btn-secondary" type="submit" ng-disabled="changes">
            <i class="bi bi-check-circle" style="font-size: 1.2rem; padding-right: 0.4em;"></i>Vista</button>
        </div>

  </form>
</div>