<table class="table table-responsive table-hover" style="width:85%;">
    <tr>
        <th>Name</th>
        <th>Nickname</th>
        <th>Credit</th>
        <th>Photo</th>
        <th>&nbsp;</th>
    </tr>

    <tr ng-repeat="employee in employeeData">
        <td>{{employee.name}}</td>
        <td>{{employee.nickname}}</td>
        <td>{{employee.credit}}</td>
        <td>{{employee.photourl !== ''}}</td>
        <td><span ng-click="editEmployee(employee)" class="glyphicon glyphicon-pencil">
            </span></td>
    </tr>
</table>