<div ng-show="!editing">
    <button class="pull-right btn-primary2" ng-show="!editing" ng-click="editEmployee()">
                <span class="glyphicon glyphicon-user"></span> Skrá nýjan starfsmann</button>

    <h2>Velkomin {{session.getUser()}}, <small>hér er tafla með öllum starfsmönnum í kerfinu:</small></h2><br>

    <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">
        <div id="imaginary_container">
            <div class="input-group stylish-input-group">
                <input type="text" ng-model="searchBox" class="form-control ng-valid" placeholder="Leita...">
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
                </span>
            </div>
        <br>
        </div>
    </div>

    <table id="tafla" class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>Fullt Nafn</th>
                <th>Gælunafn</th>
                <th>Inneign</th>
                <th>Mynd</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="employee in employeeData | filter:searchBox" ng-click="editEmployee(employee)">
                <td>{{employee.name}}</td>
                <td>{{employee.nickname}}</td>
                <td>{{employee.credit}}</td>
                <td><span ng-show="{{employee.photourl !== '' && employee.photourl !== defaultEmployeePhotoUrl}}" class="glyphicon glyphicon-ok"></span>
                    <span ng-show="{{employee.photourl === '' || employee.photourl === defaultEmployeePhotoUrl}}" class="glyphicon glyphicon-remove"></span>
                </td>
                <td><span class="glyphicon glyphicon-pencil" style="opacity: .20"></span></td>
            </tr>
        </tbody>
    </table>
</div>

<form id="form" role="form" ng-show="editing" ng-submit="submitEmployee(currentEmployee)" class="col-md-offset-2 col-md-8 col-md-offset-2">
    <label for="name">Full nafn</label>
    <input id="name" required ng-disabled="updating" ng-model="currentEmployee.name" type="text" placeholder="Jón Jón Jónsson"
        class="form-control input-lg" />

    <br> <label for="name">Gælunafn</label>
    <input id="nickname" ng-disabled="updating" ng-model="currentEmployee.nickname" type="text" placeholder="Jón" class="form-control input-lg"
    />

    <br><label for="name">Innistæða í krónum</label>
    <input id="credit" required ng-model="currentEmployee.credit" type="number" placeholder="1500" class="form-control input-lg"
    />

    <br><label for="fileInput">Mynd af starfsmanni</label>
    <input id="fileInput" type="file" custom-on-change="uploadFile" accept="image/*" capture="user" />

    <br>
    <button type="submit" class="btn btn-success">Vista</button>
    <button type="button" ng-click="back()" class="btn btn-danger">Hætta við</button>

    <div class="col-sm-3">
            <img cl-src="{{currentPhoto}}" class="staffphoto">
        </img>
        </div>
</form>

      