  
  <div class="container transition-appearFast" id="fancycontainer" style="height: 100%; text-align: center;" >
    <a><img src="../../images/profile.png" alt="Logo" style="max-height: 8em; margin: 1em;"></a>
    
    <br>
    <h5><strong>Höfundar:</strong></h5>
    <p style="font-style: italic; font-size:large;">Halla Björk Ragnarsdóttir & Unnur Kristín Brynjólfsdóttir</p>
    <p style="font-style: italic; font-size:large; color:#440A67;">- Rúbý Development -</p>

    <br>
    <h5>Um Mathák</h5>
    <p style="font-size:medium;">Mathákur er lausn fyrir fyrirtæki eða starfsmannafélög sem bjóða starfsfólki sínu að skrá á sig mat og drykki á vinnustöðum, <a href="http://mathakur.is/#!/help">hér</a> eru nánari upplýsingar.</p>
        <br>
    <h5>Saga Matháks</h5>
    <li style="font-size:medium;">Mathákur (1.0) kom út árið 2018 sem lítið hliðarverkefni höfunda fyrir mjög takmarkaðan hóp viðskiptavina stuttu eftir útskrift úr háskólanámi.
    </li>
    <li style="font-size:medium;">Mathákur (2.0) kom út árið 2022 í nýju útliti með það markmið að nútímavæða þjónustuna og taka á móti fleiri viðskiptavinum.
    </li>
    <li style="font-size:medium;">Mathákur (3.0) kom út árið 2024 með nýjungar til að aðstoða viðskiptavini enn frekar að aðstoða með bókhaldið.
    </li>
    <br>
    <h5>Viltu heyra í okkur?</h5>
    <p style="font-size:medium;">Hafir þú áhuga á að prufa Mathák, ert með spurningar eða athugasemdir getur þú sent okkur tölvupóst á <strong>mathakurapp@gmail.com</strong></p>
    <br/>

</div>

<br>

<!--div ng-include src="'views/modules/jumbotron.html'"></div-->