  <div style="text-align: center; padding-top: 5em;">

    <a><img src="../../images/favaicon2.png" alt="Logo" style="max-height: 3.5em;"></a>
    <p style="font-style: italic; font-size:large; color:#440A67;"><strong></strong>Höfundar eru Halla Björk Ragnarsdóttir og Unnur Kristín Brynjólfsdóttir.</p>

    <br>
    <br>

    <h4>Um Mathák</h4>
    <p style="color:#440A67;">Mathákur varð til árið 2018 sem hliðarverkefni höfunda fyrir mjög takmarkaðan hóp rétt eftir að þær útskrifuðust úr háskólanámi. 
    </p><p>Árið 2022 fékk Mathákur allsherjar uppfærslu til að geta nýst öðrum sem vantar aðstoð við bókhaldskerfi kaffistofa.</p>
        <br>
    <p style="color:#440A67;">Mathákur er lausn fyrir minni fyrirtæki eða starfsmannafélög sem bjóða starfsmönnum sínum upp á að
        "skrifa á sig" mat/drykki á kaffistofum.</p>
        <p>Mathákur heldur utan um vörurnar sem eru í boði, hvað þær kosta og hvað hver starfsmaður skrifar á sig.
        Hver kaffistofa hefur stjórnanda sem heldur utan um starfsmenn, vörur og uppfærir innstæður starfsmanna.
    </p>

    <br>
    <br>
    <h4>Viltu heyra í okkur?</h4>
    <p style="color:#440A67;">Hafir þú áhuga á að prufa Mathák, ert með spurningar eða athugasemdir getur þú sent okkur tölvupóst á <strong>mathakurhlu@gmail.com</strong></p>


</div>


<br>

<div ng-include src="'views/modules/jumbotron.html'"></div>