  
  <div class="container transition-appearFast" id="fancycontainer" style="height: 80%; text-align: center;">
    <a><img src="../../images/profile.png" alt="Logo" style="max-height: 8em;"></a>
    <p style="font-size:large; color:#440A67; padding-top: 1em;"><strong>Höfundar:</strong>
    <p style="font-style: italic; font-size:large; color:#440A67;">Halla Björk Ragnarsdóttir og Unnur Kristín Brynjólfsdóttir</p>
    <p style="font-style: italic; font-size:large; color:#440A67;">- Rúbý Development -</p>

    <br>
    <br>
    <h5>Um Mathák</h5>
    <p style="font-size:medium;">Mathákur er lausn fyrir fyrirtæki eða starfsmannafélög sem bjóða starfsfólki sínu að skrá á sig mat og drykki á vinnustöðum.</p>
        <br>
    <h5>Saga Matháks</h5>
    <p style="font-size:medium;">Mathákur (1.0) kom út árið 2018 sem lítið hliðarverkefni höfunda fyrir mjög takmarkaðan hóp viðskiptavina stuttu eftir útskrift úr háskólanámi.
    </p>
    <p style="font-size:medium;">Mathákur (2.0) kom út árið 2022 í kjölfar mikillar ánægju viðskiptavina með það markmið að nútímavæða þjónustuna og taka á móti fleiri viðskiptavinum.
    </p>
    <br>
    <h5>Viltu heyra í okkur?</h5>
    <p style="font-size:medium;">Hafir þú áhuga á að prufa Mathák, ert með spurningar eða athugasemdir getur þú sent okkur tölvupóst á <strong>mathakurapp@gmail.com</strong></p>
    <br/>

</div>

<br>

<!--div ng-include src="'views/modules/jumbotron.html'"></div-->