<div class="container">
  <div class="alert alert-success" role="alert" ng-show="successAlert">
    <p><i class="bi bi-check-circle" style="font-size: 1.2rem; padding-right: 0.5em;"></i>Breytingin tókst, eigðu góðan dag</p>
  </div>
  <div class="alert alert-success" role="alert" ng-show="successAlertCopy">
    <p><i class="bi bi-check-circle" style="font-size: 1.2rem; padding-right: 0.5em;"></i>Afritun stöðu tókst á klemmuspjald</p>
  </div>
  <div class="alert alert-danger" role="alert" ng-show="errorAlert">
    <p><i class="bi bi-exclamation-circle" style="font-size: 1.2rem; padding-right: 0.5em;"></i>Ekki tókst að vista breytingarnar, vinsamlega reyndu aftur</p>
  </div>
  
  <!--h3 style="text-align: center;"><small>Innskráður stjórnandi-->
  <button type="button" id="adminButton" class="btn btn-outline-secondary btn-lg dropdown-toggle"
    data-bs-toggle="dropdown" aria-expanded="false" style="float: right;">
    <i class="bi bi-person-fill" style="font-size: 1.3rem; padding-right: 0.2em;"></i> {{session.getUser()}}
  </button>
  <ul class="dropdown-menu">
    <li><a id="dropDownHeader" class="dropdown-item" id="logoutlook" ng-click="logOutAdmin()"><i
          class="bi bi-box-arrow-in-right" style="font-size: 1.3rem; padding-right: 0.4em;"></i>Skrá út
        stjórnanda</a></li>
  </ul>
</div>
<br>
<br>
<br>