<div class="row">
  <div class="col">
    <button class="btn btn-sm btn-primary" ng-click="copyEmployeeData()"></i>Afrita</button>
  </div>

  <div class="col alert alert-success" role="alert" ng-show="successAlert" style="text-align: center; margin-bottom: 0px; padding: 0.3em;">
    <p><i class="bi bi-check-circle" id="iconssmaller" style="padding-right: 0.3em;"></i>Breytingin tókst</p>
  </div>
  <div class="col alert alert-success" role="alert" ng-show="successAlertCopy" style="text-align: center; margin-bottom: 0px; padding: 0.3em;">
    <p><i class="bi bi-check-circle" id="iconssmaller" style="padding-right: 0.3em;"></i>Afritun stöðu tókst á klemmuspjald</p>
  </div>
  <div class="col alert alert-danger" role="alert" ng-show="errorAlert" style="text-align: center; margin-bottom: 0px; padding: 0.3em;">
    <p><i class="bi bi-exclamation-circle" id="iconssmaller" style="padding-right: 0.3em;"></i>Ekki tókst að vista breytingarnar. {{errorAlert}}</p>
  </div>

  <div class="col">
    <button class="btn btn-lg btn-secondary" ng-show="!editing" ng-click="editEmployee()" style="float:right;">
      <i class="bi bi-plus-circle" style="font-size: 1.2rem; padding-right: 0.4em;"></i>Bæta við
    </button>
  </div>
</div>