<nav class="navbar fixed-bottom">
    <div class="row" id="footerView">
        <div class="col" style="text-align: center;">
                <a href="https://www.facebook.com/profile.php?id=100086189455806"><i class="bi bi-facebook" style="font-size: 1.2rem; padding-right:0.5em; color: #440A67;"></i></a>
                <a href="mailto:rubyhallaunnur@gmail.com"><i class="bi bi-envelope-fill" style="font-size: 1.2rem; padding-right:0.5em; color: #440A67;"></i></a>
                <a href="https://www.mathakur.is"><i class="bi bi-house-fill" style="font-size: 1.2rem; padding-right:0.5em; color: #440A67;"></i></a>
        </div>
        <div class="col">
            <p class="text-center"><a id="footerText" ui-sref="about" href="#">Upplýsingar</a></p>
        </div>

    </div>

</nav>