<nav class="navbar fixed-bottom">
    <div class="row" id="footerView">
        <div class="col" style="text-align: end; padding: 0em 2em;">
                <a href="https://www.facebook.com/profile.php?id=100086189455806"><i class="bi bi-facebook" style="font-size: 1.5rem; padding-right:0.5em; color: #440A67;"></i></a>
                <a href="mailto:mathakurapp@gmail.com"><i class="bi bi-envelope-fill" style="font-size: 1.5rem; padding-right:0.5em; color: #440A67;"></i></a>
                <a href="https://www.mathakur.is"><i class="bi bi-globe" style="font-size: 1.5rem; padding-right:0.5em; color: #440A67;"></i></a>
        </div>
        <div class="col" style="text-align: start; margin: auto; width: 60%; padding: 0em 1.5em;">
            <a ui-sref="about" href="#" alt="Um Mathák"><i class="bi bi-info-circle" style="font-size: 1.5rem; padding-right:0.5em; color: #440A67;"></i></a>
        </div>

    </div>

</nav>