<nav class="navbar fixed-bottom">
    <div id="footerView" style="text-align: center;">
                <a href="https://www.facebook.com/profile.php?id=100086189455806"><i class="bi bi-facebook" id="icons" style="padding-right:0.5em; color: #440A67;"></i></a>
                <a href="mailto:mathakurapp@gmail.com"><i class="bi bi-envelope-fill" id="icons" style="padding-right:0.5em; color: #440A67;"></i></a>
                <!--a href="#"><i class="bi bi-globe" style="font-size: 1.5rem; padding-right:0.5em; color: #440A67;"></i></a-->
                <a ui-sref="about" href="#" alt="Um Mathák"><i class="bi bi-info-circle-fill" id="icons" style="padding-right:0.5em; color: #440A67;"></i></a>
    </div>

</nav>