<div class="header-page">
  <nav class="navbar fixed-top bg-primary">
    <div class="container align-center">
      <a class="navbar-brand"><img src="../../images/logo1.png" class="img-fluid rounded float-end" alt="Logo"
          id="thelogo" ng-click="goToFrontPage()"></a>
      <ul class="nav nav-tabs" ng-show="company">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"
            id="loggedincompany">
            <i class="bi bi-house" style="font-size: 1.5rem; padding-right: 0.3em;"></i>{{company}}
          </a>
          <ul class="dropdown-menu">
            <li><a id="dropDownHeader" class="dropdown-item" ng-click="goToStaff()"><i class="bi bi-cart4"
                  style="font-size: 1.3rem; padding-right: 0.4em;"></i>Verslunarsíða</a></li>
            <li><a id="dropDownHeader" class="dropdown-item" ui-sref="userlogin" href="#"><i class="bi bi-person-badge"
                  style="font-size: 1.3rem; padding-right: 0.4em;"></i>Stjórnandasíða</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a id="dropDownHeader" class="dropdown-item" id="logoutlook" href ng-click="logOutCompany()"><i
                  class="bi bi-box-arrow-in-right" style="font-size: 1.3rem; padding-right: 0.4em;"></i>Skrá út
                vinnustað</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>