<div style="text-align: center; align-items: center;">

  <div style="background-color:white; padding:2em; margin-top: 1em;">
    <h3>Um Mathák</h3>
    <br>
    <p>Mathákur er lausn fyrir fyrirtæki eða starfsmannafélög sem bjóða starfsfólki sínu að skrá á sig mat og drykki á
      vinnustöðum.</p>
    <p>Með þessum einföldu skrefum losnar þú við matarmiða / blað og blýant / Excel skjöl og sparar tíma.</p>
    <div style="padding:1em; margin: 0em 34em;">
      
      <div class="row">
        <div class="col frontpageworkflow">
          <img src="images/apple.svg" style="max-height: 7em; padding: 1em;">
          <p style="font-size: 14px; padding: 1em;">Stjórnandi býr til vörur og ákveður verð</p>
        </div>
        <div class="col frontpageworkflow">
          <img src="images/user.svg" style="max-height: 7em; padding: 1em;">
          <p style="font-size: 14px; padding: 1em;">Stjórnandi stofnar notendur</p>
        </div>
        <div class="row">
          <div class="col frontpageworkflow">
            <img src="images/money-management.svg" style="max-height: 7em; padding: 0em 1em 1em 1em;">
            <p style="font-size: 14px; padding: 1em;">Stjórnandi tekur við greiðslum frá starfsfólki og uppfærir inneignina þeirra</p>
          </div>
          <div class="col frontpageworkflow">
            <img src="images/shopping-cart.svg" style="max-height: 7em; padding: 1em;">
            <p style="font-size: 14px; padding: 1em;">Starfsfólk verslar vörur fyrir inneignina sína</p>
          </div>
        </div>
        <div class="row">
          <div class="col frontpageworkflow">
            <img src="images/shopping-cart.svg" style="max-height: 7em; padding: 1em;">
            <p style="font-size: 14px; padding: 1em;">Starfsfólk verslar vörur fyrir inneignina sína</p>
          </div>
          <div class="col frontpageworkflow">
            <img src="images/money-management.svg" style="max-height: 7em; padding: 0em 1em 1em 1em;">
            <p style="font-size: 14px; padding: 1em;">Stjórnandi rukkar starfsfólk fyrir innkaupin</p>
          </div>
        </div>
        </div>


      </div>

      </div>
    </div>
    <div style="background-color:white; padding:2em; margin-top: 1em;">
      <h3>Hvað gerir Mathákur?</h3>
      <br>
    <div>
      <li>Leyfir starfsfólki að skrá á sig vörur með örfáum smellum.</li>
      <li>Heldur utan um inneignarstöðu starfsfólks.</li>
      <li>Býður upp á einfalt viðmót fyrir stórnendur til þess að stofna aðgang fyrir starfsfólk með mynd, og uppfæra inneignarstöðu þeirra.</li>
      <li>Leyfir stjórnendum að stofna vörur með mynd, ákveða verð og breyta þeim eftir þörfum.</li>
      <li>Býður stjórnendum upp á afrita stöðu starfsfólks til að senda út rukkanir ef þarf.</li>
      <li>Leyfir stjórnendum að stilla hvort inneign starfsfólks megi fara niður fyrir 0 (í skuld) eða ekki.</li>
      <li>Sýnir sögu af verslun starfsfólks og vara.</li>
      <li>Býður stjórnendum að sjá mest keyptu vörurnar.</li>
      <li>Heldur utan um birgðarstöðu og innkaupaverð.</li>
    </div>
  </div>
  </div>

  <div style="background-color:white; padding:2em; margin-top: 1em;">
    <h3 style="text-align: center;">Hvað gerir Mathákur ekki?</h3>
    <br>
    <li>Tekur beint við greiðslum. Greiðslur starfsfólks fara aðra leið og stjórnandi uppfærir stöðuna í Matháki handvirkt.</li>
    <li>Sendir út rukkanir. Ef fyrirtæki vilja rukka starfsfólk fer það aðrar leiðir og stjórnandi uppfærir stöðuna í
      Matháki handvirkt.</li>
  </div>

  <div style="background-color:white; padding:2em; margin-top: 1em;">
    <h3 style="text-align: center;">Viltu vera með?</h3>
    <br>
    <li>Sendu okkur tölvupóst á <strong>mathakurapp@gmail.com</strong> með helstu upplýsingum. Allir viðskiptavinir fá frían prufumánuð.</li>
    <li>Við stofnum fyrirtækið á vefsíðunni.</li>
    <li>Stjórnandi stofnar vörur, starfsfólk og aðra stjórnendur.</li>
    <li>Notkunarleiðbeiningar hér að neðan gagnast þeim sem vantar aðstoð við uppsetningu.</li>
    <li>Fyrirtækið stillir upp spjaldtölvu á kaffistofunni, opnar <strong>mathakur.is</strong> og starfsfólk byrjar að versla.</li>
  </div>

  <div style="background-color:white; padding:2em; margin-top: 1em;">
    <h3>Notkunarleiðbeiningar</h3>
    <br>
    <div class="container row" id="fancycontainer" style="height: 80%; text-align: center; display: inline-flex;">

      <div class="img-container col">
        <h5>Búa til vöru</h5>
        <img class="animated"
          ng-src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666645307/Defaults/BuaTilVoru.gif" width="525"
          height="420" />
        <img class="simple"
          ng-src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666904215/Defaults/myndbuatilvoru.png" width="200"
          height="150" />
      </div>

      <div class="img-container col">
        <h5>Búa til starfsfólk</h5>
        <img class="animated"
          ng-src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666645307/Defaults/BuaTilStarfsmann.gif"
          width="525" height="420" />
        <img class="simple"
          ng-src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666904214/Defaults/myndbuatilstarfsmann.png"
          width="200" height="150" />
      </div>

      <div class="img-container col">
        <h5>Uppfæra inneign</h5>
        <img class="animated"
          ng-src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666645307/Defaults/UppfaeraInneign.gif"
          width="525" height="420" />
        <img class="simple"
          ng-src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666904215/Defaults/mynduppfaerainneign.png"
          width="200" height="150" />
      </div>

      <div class="img-container col">
        <h5>Versla</h5>
        <img class="animated" ng-src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666645307/Defaults/Versla.gif"
          width="525" height="420" />
        <img class="simple"
          ng-src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666904215/Defaults/myndversla2.png" width="200"
          height="150" />
      </div>
      <br>

    </div>
  </div>
</div>