<div style="text-align: center; align-items: center;">

  <div style="background-color:white; padding:2em; margin-top: 1em;">
    <h3>Um Mathák</h3>
    <br>
    <p>Mathákur er lausn fyrir fyrirtæki eða starfsmannafélög sem bjóða starfsfólki sínu að skrá á sig mat og drykki á
      vinnustöðum.</p>
    <p>Með þessum einföldu skrefum losnar þú við matarmiða / blað og blýant / Excel skjöl og sparar þannig pappír og tíma!</p>  
    <br>
    <p>Mathákur leggur áherslu á að vera einfalt, ódýrt og fljótlegt tól til að aðstoða fólk í amstri dagsins.</p>
    <br>

  </div>

      </div>
    </div>
    <div style="background-color:white; padding:2em; margin-top: 1em;">
      <h3>Hvað gerir Mathákur?</h3>
      <br>
    <div>
      <p>Mathákur býður notendum upp á þægilegt viðmót þar sem starfsfólk getur skráð á sig vörur með örfáum smellum og notar myndir fyrir einfaldleika.</p>
      <p>Hann heldur utan um inneigna/skuldastöðu starfsfólks og sýnir hana í hvert skipti sem verslað er</p>
      <p>Fyrir stjórnendur býður Mathákur upp á einfalt viðmót til þess að stofna og breyta upplýsingum um starfsfólk (t.d. mynd, gælunafn, innistæðu)</p>
      <p>og til þess að stofna og breyta vörum (t.d. mynd og verði).</p>
      <p>Einnig er hægt að snögglega afrita stöðu starfsfólks til þess að nota til að senda út rukkanir.</p> 
      <p>... og margt fleira!</p>
      <br>
      <p>Mathákur byggir á trausti til starfsfólks þar sem það skráir á sig mat og drykki sjálft.</p>
    </div>
  </div>

  <div style="background-color:white; padding:2em; margin-top: 1em;">
    <h3>Inneign/skuld starfsfólks</h3>
    <br>
    <p>Mathákur býður upp á að velja á milli þess sem starfsfólk verslar eftir fyrirframgreiddri inneign eða er rukkað eftir innkaup.</p>
    <div style="text-align: -webkit-center;">
        <div class="col frontpageworkflow" id="purplebox">
          <i class="bi bi-person-workspace" style="font-size: 2.5em;"></i>
          <p style="font-size: 14px; padding: 1em;">1. Stjórnandi býr til notendur og vörur.</p><br>
        </div>
      </div>
        <div class="row justify-content-center" style="text-align: -webkit-center;" >
          <div class="col frontpageworkflow" id="purplebox">
            <i class="bi bi-piggy-bank" style="font-size: 2.5em;"></i>
            <p style="font-size: 14px; padding: 1em;">2. Stjórnandi tekur við greiðslum frá starfsfólki og uppfærir inneignina þeirra.</p>
          </div>
            <div class="col frontpageworkflow" id="purplebox">
              <i class="bi bi-cart4" style="font-size: 2.5em;"></i>
              <p style="font-size: 14px; padding: 1em;">3. Starfsfólk verslar vörur fyrir inneignina sína.</p>
            </div>
            <div class="col frontpageworkflow" id="whitebox">
              <p style="font-size: 14px; padding: 1em;">eða</p>
            </div>
          <div class="col frontpageworkflow" id="purplebox">
            <i class="bi bi-cart4" style="font-size: 2.5em;"></i>
            <p style="font-size: 14px; padding: 1em;">2. Starfsfólk verslar vörur.</p>
          </div>
          <div class="col frontpageworkflow" id="purplebox">
            <i class="bi bi-cash-coin" style="font-size: 2.5em;"></i>
            <p style="font-size: 14px; padding: 1em;">3. Stjórnandi rukkar starfsfólk þegar hentar.</p>
          </div>
        </div>

      </div>

  <div style="background-color:white; padding:2em; margin-top: 1em;">
    <h3 style="text-align: center;">Hvað gerir Mathákur <strong>ekki?</strong></h3>
    <br>
    <p>Mathákur tekur ekki við greiðslum, allar greiðslur starfsfólks fara aðra leið og stjórnandi uppfærir stöðuna handvirkt.</p>
    <p>Mathákur sendir ekki út rukkanir, ef fyrirtæki vilja rukka starfsfólk fer það aðrar leiðir og stjórnandi uppfærir stöðuna handvirkt.</p>
  </div>

  <div style="background-color:white; padding:2em; margin-top: 1em;">
    <h3 style="text-align: center;">Viltu prófa?</h3>
    <br>
    <p>Sendu okkur tölvupóst á <strong>mathakurapp@gmail.com</strong>, allir viðskiptavinir fá frían prufumánuð!<p>
    <p>Við stofnum fyrirtækið á vefsíðunni, stjórnandi fyrirtækisins stofnar vörur, starfsfólk og aðra stjórnendur.</p>
    <p>Notkunarleiðbeiningar hér að neðan gagnast þeim sem vantar aðstoð við uppsetningu.</p>
    <p>Fyrirtækið t.d. stillir upp spjaldtölvu á kaffistofunni, opnar <strong>mathakur.is</strong> og starfsfólk byrjar að versla.</p>
  </div>

  <div style="background-color:white; padding:2em; margin-top: 1em;">
    <h3>Notkunarleiðbeiningar</h3>
    <br>
    <div class="container row" id="fancycontainer" style="height: 80%; text-align: center; display: inline-flex;">

      <div class="img-container col">
        <h5>Búa til vöru</h5>
        <img class="animated"
          ng-src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666645307/Defaults/BuaTilVoru.gif" width="525"
          height="420" />
        <img class="simple"
          ng-src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666904215/Defaults/myndbuatilvoru.png" width="200"
          height="150" />
      </div>

      <div class="img-container col">
        <h5>Búa til starfsfólk</h5>
        <img class="animated"
          ng-src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666645307/Defaults/BuaTilStarfsmann.gif"
          width="525" height="420" />
        <img class="simple"
          ng-src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666904214/Defaults/myndbuatilstarfsmann.png"
          width="200" height="150" />
      </div>

      <div class="img-container col">
        <h5>Uppfæra inneign</h5>
        <img class="animated"
          ng-src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666645307/Defaults/UppfaeraInneign.gif"
          width="525" height="420" />
        <img class="simple"
          ng-src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666904215/Defaults/mynduppfaerainneign.png"
          width="200" height="150" />
      </div>

      <div class="img-container col">
        <h5>Versla</h5>
        <img class="animated" ng-src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666645307/Defaults/Versla.gif"
          width="525" height="420" />
        <img class="simple"
          ng-src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666904215/Defaults/myndversla2.png" width="200"
          height="150" />
      </div>
      <br>

    </div>
  </div>
</div>