<div style="text-align: center; align-items: center;">

  <div style="background-color:white; padding:2em; margin-top: 1em;">
    <h3>Hvað er Mathákur?</h3>
    <br>
    <p>Mathákur er lausn fyrir fyrirtæki eða starfsmannafélög sem bjóða starfsfólki sínu að skrá á sig mat og drykki á vinnustöðum.</p>
    <p>Með því að innleiða Mathák losnar þú við matarmiða, blað&blýant og sparar tíma.</p>
  </div>
  
  <br/>
  <div style="background-color:white; padding:2em; margin-top: 1em;">
    <h3>Notkunarleiðbeiningar</h3>
    <br>
    <div class="container row"  id="fancycontainer" style="height: 80%; text-align: center; display: inline-flex;">

        <div class="img-container col">
            <h5>Búa til vöru</h5>
            <img class="animated"
                ng-src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666645307/Defaults/BuaTilVoru.gif" 
                width="525" height="420" />
            <img class="simple" ng-src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666904215/Defaults/myndbuatilvoru.png" width="200" height="150" />
        </div>
    
        <div class="img-container col">
            <h5>Búa til starfsmann</h5>
            <img class="animated"
                ng-src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666645307/Defaults/BuaTilStarfsmann.gif"
                width="525" height="420" />
            <img class="simple" ng-src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666904214/Defaults/myndbuatilstarfsmann.png" width="200" height="150" />
        </div>
    
        <div class="img-container col">
            <h5>Uppfæra inneign</h5>
            <img class="animated"
                ng-src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666645307/Defaults/UppfaeraInneign.gif"
                width="525" height="420" />
            <img class="simple" ng-src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666904215/Defaults/mynduppfaerainneign.png" width="200" height="150" />
        </div>
    
        <div class="img-container col">
            <h5>Versla</h5>
            <img class="animated" ng-src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666645307/Defaults/Versla.gif"
                width="525" height="420" />
            <img class="simple" ng-src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666904215/Defaults/myndversla2.png" width="200" height="150" />
        </div>
        <br>
    
    </div>
  </div>
</div>
