<div class="container row"  id="fancycontainer" style="height: 80%; text-align: center;">

    <div class="img-container col">
        <h5>Búa til vöru</h5>
        <img class="animated"
            ng-src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666645307/Defaults/BuaTilVoru.gif" width="350"
            height="280" />
        <img class="simple" ng-src="../images/play-icon.PNG" width="200" height="150" />
    </div>

    <div class="img-container col">
        <h5>Búa til starfsmann</h5>
        <img class="animated"
            ng-src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666645307/Defaults/BuaTilStarfsmann.gif"
            width="350" height="280" />
        <img class="simple" ng-src="../images/play-icon.PNG" width="200" height="150" />
    </div>

    <div class="img-container col">
        <h5>Uppfæra inneign</h5>
        <img class="animated"
            ng-src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666645307/Defaults/UppfaeraInneign.gif"
            width="350" height="280" />
        <img class="simple" ng-src="../images/play-icon.PNG" width="200" height="150" />
    </div>

    <div class="img-container col">
        <h5>Versla</h5>
        <img class="animated" ng-src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666645307/Defaults/Versla.gif"
            width="350" height="280" />
        <img class="simple" ng-src="../images/play-icon.PNG" width="200" height="150" />
    </div>
    <br>

</div>