
<div class="dashboard-page" >
     
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar changesidebar" ng-show="sidebar" >

        <img src="images/mathakur.png" class="icon-mathakur" />
        <div class="text-center">
          <h3 class="brand">Innskráður skóli:</h3>

          <br>
          <h5>{{session.getSchool()}}</h5>
        </div>

        <div class="adminview">
          <ul class="nav nav-sidebar">
            <li><a ui-sref="userlogin"><span class="glyphicon glyphicon-lock"></span> Stjórnandasíða</a></li>
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li><a id="logoutlook" href ng-click="logOut()"><span class="glyphicon glyphicon-log-out"></span> Skrá skóla út</a></li>
          </ul>
        </div>

      </div>
      <button class="pull-left btn-lg glyphicon glyphicon-option-horizontal" id="showSidebarButton" ng-click = "showSidebar()"></button>  
      <div ng-class="class" ui-view>
      </div>
    </div>
  </div>
</div>