<br>
<div class="row">
  <div class="col-4" style="text-align: end;">
    <img class="transition-appear" src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666639735/Defaults/profile.png" style="max-height: 12em; text-align: center;"/>
  </div>
  <div class="col-2">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
    <div class="line4"></div>
    <div class="line5"></div>
  </div>
<div class="col-6" style="align-self: end;">
  <h4 class="transition-div-right" style="font-family: 'Bebas Neue', sans-serif; font-size: 2em;">Er kominn tími á að nútímavæða kaffistofuna,<br/> spara pappír og vinnu?</h4>
</div>
</div>


<br>
<div style="padding: 3em;">
  <div class="col transition-div-top" style="background-color:white; padding:2em; margin: 1em; text-align: center;">
  <h1 style="text-align: center;">Velkomin á Mathák</h1>
  <p>"Litla þæginlega vefsvæðið sem heldur utan um bókhald kaffistofa."</p>
  </div>


<div class="row" style="text-align: center; align-items: center;">

  <div class="col transition-div-left" style="background-color:white; padding:2em; margin: 1em;">
    <img class="img-bg" background-image src="images/lock.svg"></img>
    <h3>Nú þegar með aðgang?</h3>
    <br>
    <button class="btn btn-secondary btn-lg btn-rounded" ng-click="goToLogin()"><i class="bi bi-lock" style="font-size: 1.3rem; padding-right:0.5em;"></i>Innskráning</button>
  </div>

  <div class="col transition-div-right" style="background-color:white; padding:2em; margin: 1em;">
    <img class="img-bg" background-image src="images/question-circle.svg"></img>
    <h3>Viltu vita meira?</h3>
    <br>
    <button class="btn btn-secondary btn-lg btn-rounded" ng-click="goToHelp()"><i class="bi bi-question-circle" style="font-size: 1.3rem; padding-right:0.5em;"></i>Um Mathák</button>
  </div>

  <br/>
  <div class="transition-div-bottom" style="padding:2em;">
    <div class="row">
      <div class="col frontpageworkflow" >
        <img src="images/apple.svg" style="max-height: 8em; padding: 1em;">
        <p style="font-size: 18px; padding: 1em;">Stjórnandi býr til vörur og ákveður verð</p>
      </div>
      <div class="col frontpageworkflow">
        <img src="images/user.svg" style="max-height: 8em; padding: 1em;">
        <p style="font-size: 18px; padding: 1em;">Stjórnandi stofnar notendur</p>
      </div>
      <div class="col frontpageworkflow">
        <img src="images/money-management.svg" style="max-height: 8em; padding: 0em 1em 1em 1em;">
        <p style="font-size: 18px; padding: 1em;">Stjórnandi tekur við greiðslum frá starfsfólki og uppfærir inneignina þeirra</p>
      </div>
      <div class="col frontpageworkflow">
       <img src="images/shopping-cart.svg" style="max-height: 8em; padding: 1em;">
       <p style="font-size: 18px; padding: 1em;">Starfsfólk verslar vörur fyrir inneignina sína</p>
      </div>
    </div>
  </div>

  <div class="transition-div-bottom" style="background-color:white; padding:2em; margin: 1em;">
    <h3>Viltu vera með?</h3>
    <br>
    <p style="color:#440A67;">Hafir þú áhuga á að prufa Mathák, ert með spurningar eða athugasemdir getur þú sent okkur tölvupóst á <strong>rubyhallaunnur@gmail.com</strong>.</p>
    <p>Allir nýjir viðskiptavinir fá frían prufumánuð.</p>
  </div>

  <div class="transition-div-bottom">
    <img src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666639735/Defaults/auglysing.png" style="max-height: 25em;" alt="Auglysing">
  </div>

  <!--div style="background-color:white; padding:2em; margin-top: 2em;">
    <br>
    <div ng-include src="'views/modules/about.html'"></div>
  </div-->

</div>





</div>




<!--div class="row" style="background-color: white; height: 100%; text-align: center;">
  <div class="col">
    <img style="padding:0.6em; max-width:12em;" src="../images/profile.PNG"></img>
  </div>
  <div class="col" id="image-font">
    <p>Litla þæginlega vefsvæðið sem heldur utan um bókhald kaffistofa</p>
  </div>
</div-->


</div>
</div>