  <div style="background-color: white; padding: 4em 0em; margin: 0em 0em 4em 0em;">
    <img class="transition-appear" src="../../images/profile.png" style="max-height: 15em; text-align: center;"/>
  </div>

  <div style="padding: 4em; margin: 3em 10em 3em 10em;">
    <br>
    <h4 style="font-family: 'Bebas Neue', sans-serif; font-size: 2.5em;">Litla þægilega vefsvæðið sem heldur utan um bókhald kaffistofa.</h4>
    <br>
    <p style="font-style: italic; font-size:1.3em;">Er kominn tími á að nútímavæða kaffistofuna, spara pappír og vinnu?</p>
    <br>
  </div>
  

<div class="row" style="text-align: center; align-items: center;">
  <div class="col transition-div-left" style="padding:4em; margin: 3em 0em 3em 0em;">
    <img class="img-bg" style="right: 5em;" background-image src="images/lock.svg"></img>
    <h3>Nú þegar með aðgang?</h3>
    <br>
    <button class="btn btn-secondary btn-lg btn-rounded" ng-click="goToLogin()"><i class="bi bi-lock" style="font-size: 1.3rem; padding-right:0.5em;"></i>Innskráning</button>
  </div>

  <div class="col transition-div-right" style="padding:4em; margin: 3em 0em 3em 0em;">
    <img class="img-bg" style="left: 5em;" background-image src="images/question-circle.svg"></img>
    <h3>Viltu vita meira?</h3>
    <br>
    <button class="btn btn-secondary btn-lg btn-rounded" ng-click="goToHelp()"><i class="bi bi-question-circle" style="font-size: 1.3rem; padding-right:0.5em;"></i>Um Mathák</button>
  </div> 
</div>

  <div style="color:white; background-color: #93329E; text-align: center; padding: 4em; margin: 3em 15em 3em 15em;">
    <h3>Viltu prófa?</h3>
    <br>
    <p>Hafir þú áhuga á að prufa Mathák, endilega sendu okkur tölvupóst á <strong>mathakurapp@gmail.com</strong></p>
  </div>

  <div class="row" style="text-align: center; align-items: center;  margin: 6em 0em 2em 0em;">
<br>
<br>
    <h3>Umsagnir</h3>

    <div class="col" style="padding:1em;">
      <div class="quote">
        <blockquote>
          <div style="padding: 4em;">
            <img class="img-bg2" background-image src="images/quotes.png"></img><br><br><br>
          <p>Mathákur hefur sparað okkur að minnsta<br>kosti heilan vinnudag í mánuði!</p><br>
          <cite>Sigurbjörg Róbertsdóttir<br>Skólastjóri Akurskóla</cite>
        </div>
        </blockquote>
      </div>
    </div>
  
    <div class="col" style="padding:1em;">
      <div class="quote">
        <blockquote>
          <div style="padding: 4em;">
            <img class="img-bg2" background-image src="images/quotes.png"></img><br><br><br>
          <p>Mathákur leyfir okkur að hafa <br> búð fyrir starfsmenn sem er mjög <br>vinsæll kostur inn á vinnustað</p><br>
          <cite>Kristín María Gunnarsdóttir<br>Formaður Starfsmannafélags Kvikna</cite>
        </div>
        </blockquote>
      </div>
    </div> 
  </div>


  <!--div class="auglysing">
    <img src="https://res.cloudinary.com/dk7mpsfkw/image/upload/v1666639735/Defaults/auglysing.png" style="max-width: 100%; min-width: 300px; height: auto;" alt="Auglysing">
  </div-->

  <!--div style="background-color:white; padding:2em; margin-top: 2em;">
    <br>
    <div ng-include src="'views/modules/about.html'"></div>
  </div-->

</div>

</div>




<!--div class="row" style="background-color: white; height: 100%; text-align: center;">
  <div class="col">
    <img style="padding:0.6em; max-width:12em;" src="../images/profile.PNG"></img>
  </div>
  <div class="col" id="image-font">
    <p>Litla þæginlega vefsvæðið sem heldur utan um bókhald kaffistofa</p>
  </div>
</div-->


</div>
</div>