<div class="position-absolute top-50 start-50 translate-middle" id="login-div">

	<h2><small>Vinsamlega skráðu inn fyrirtæki:</small></h2>
	<br>
	<form role="form" ng-submit="submit()">

		<div class="input-group input-group-lg">
			<span class="input-group-text" id="loginInputs">
				<i class="bi bi-house" style="font-size: 2rem;"></i>
			</span>
			<select class="form-select form-select-lg" ng-model="company">
				<option value="{{}}" disabled selected>Veldu Fyrirtæki</option>
				<option value="{{x}}" ng-repeat="x in myData">{{x.name}}</option>
			</select>
		</div>
		<br>

		<div class="input-group input-group-lg">
			<span class="input-group-text" id="loginInputs">
				<i class="bi bi-lock" style="font-size: 2rem;"></i>
			</span>
			<input ng-model="password" type="password" class="form-control form-control-lg" id="passwordplaceholder"
				placeholder="Lykilorð">
		</div>

		<br>
		<div class="alert alert-danger" role="alert" ng-show="wrongpassword">
			<p><i class="bi bi-exclamation-circle" style="font-size: 1rem; padding-right: 0.5em;"></i>Rangt lykilorð,
				vinsamlega reyndu aftur</p>
		</div>

		<button type="submit" class="btn btn-primary btn-lg btn-rounded">Skrá inn</button>
	</form>
	<br>
	<a class="btn" ng-click="forgotpassword = !forgotpassword" style="color: #4b4b4b">
		<p>Gleymt lykilorð?</p>
	</a>
	<div style="float:b" ng-show="forgotpassword">
		<p style="padding-top: 0.1em;">Vinsamlegast sendu tölvupóst á 
			<br><strong>mathakurhlu@gmail.com</strong>
			<br>til að endurheimta lykilorð fyrir vinnustað</p>
	</div>
</div>

<br>

<div ng-include src="'views/modules/jumbotron.html'">
	
</div>