<div class="container-sm">
	<div class="row">
		<div class="col">
			<h2><small>Skrá nýjan vinnustað</small></h2>
			<br>
			<form role="form" ng-submit="submitSchool()">

				<div class="mb-3">
					<input ng-model="schoolName" type="text" class="form-control input-underline input-lg"
						placeholder="Vinnustaður">
					<br>
					<input ng-model="schoolPassword" type="password" class="form-control input-underline input-lg"
						id="passwordplaceholder" placeholder="Lykilorð">

				</div>
				<br>
				<button type="submit" class="btn btn-primary btn-lg btn-rounded">Búa til Vinnustað</button>

			</form>
		</div>
		<div class="col">
			<h2><small>Skrá nýjan stjórnanda</small></h2>
			<br>
			<form role="form" ng-submit="submitAdmin()">

				<div class="mb-3">
					<input ng-model="adminName" type="text" class="form-control input-underline input-lg"
						placeholder="Nafn">
						<br>
					<input ng-model="userName" type="text" class="form-control input-underline input-lg"
						placeholder="Notandanafn">
						<br>
					<input ng-model="schoolName" type="text" class="form-control input-underline input-lg"
						placeholder="Vinnustaður">
						<br>
					<input ng-model="adminPassword" type="password" class="form-control input-underline input-lg"
						id="passwordplaceholder" placeholder="Lykilorð">
						<br>
				</div>

				<button type="submit" class="btn btn-primary btn-lg btn-rounded">Búa til Stjórnanda</button>

			</form>
		</div>
	</div>
</div>