<div class="position-absolute top-50 start-50 translate-middle" id="login-div">

	<h2><small>Innskráning stjórnanda:</small></h2>
	<br>
	<form role="form" ng-submit="submit()">
		<div class="input-group input-group-lg">
			<span class="input-group-text" id="loginInputs">
				<i class="bi bi-person" style="font-size: 2rem;"></i>
			</span>
			<input type="text" ng-model="username" class="form-control form-control-lg" placeholder="Notandanafn"
				required>
		</div>
		<br>

		<div class="input-group input-group-lg">
			<span class="input-group-text" id="loginInputs">
				<i class="bi bi-lock" style="font-size: 2rem;"></i>
			</span>
			<input ng-model="password" type="password" class="form-control form-control-lg" id="passwordplaceholder"
				placeholder="Lykilorð">
		</div>

		<br>
		<div class="alert alert-danger" role="alert" ng-show="wrongpassword" style="text-align: center;">
			<p><i class="bi bi-exclamation-circle" style="font-size: 1rem; padding-right: 0.5em;"></i>Rangt notandanafn
				eða lykilorð,<br> vinsamlega reyndu aftur</p>
		</div>
		<br>

		<button type="submit" class="btn btn-primary btn-lg btn-rounded">Innskrá</button>
	</form>
	<br>
	<a class="btn" ng-click="forgotpassword = !forgotpassword" style="color: #535353">
		<p>Gleymt lykilorð?</p>
	</a>
	<div style="float:b" ng-show="forgotpassword">
		<p style="padding-top: 0.1em;">Vinsamlegast fáðu annan stjórnanda<br>á vinnustaðnum til þess að búa til nýjan aðgang <br>eða sendu tölvupóst á <strong>mathakurapp@gmail.com</strong><br></p>
	</div>
</div>
<br>
<!--div ng-include src="'views/modules/jumbotron.html'"></div-->
