<div class="login-page">
	<header class="headeronlogin">
		<img cl-src="Mathakur_bxldup" class="headericon-mathakur" />
	</header>
	<div class="login-page2">
		<div class="row">
			<div class="col-md-offset-3 col-sm-6 col-md-offset-3">
				<br>
				<h1>Velkomin! </h1>
				<br>
				<h4>Vinsamlega skráðu þig inn á stjórnandasíðuna,</h4>
				<h4>athugaðu að einungis yfirmenn hafa aðgang hér inn.</h4>
				<form role="form" ng-submit="submit()">

					<div class="form-content">
						<div class="form-group">
							<input type="text" ng-model="username" class="form-control input-underline input-lg" placeholder="Notandanafn" required>
						</div>

						<div class="form-group">
							<input type="password" ng-model="password" class="form-control input-underline input-lg" id="passwordplaceholder" placeholder="Lykilorð" required>
						</div>
						<p ng-show="wrongpassword">Eitthvað fór úrskeiðis, sláðu inn rétt lykilorð og reyndu aftur.</p>
					</div>

					<button type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">Skrá inn</button>

				</form>

			</div>
		</div>
	</div>

</div>