$color-myPinkDark: #93329E;
$color-myPinkLight: #FFE3FE;
$color-myPurpleDark: #440A67;
$color-myBlueDark: #160075;

$color-myPurpleLight: #ffffff;
$color-myGreyLight: #f0f0f0;
$color-myGreyLight2: #dbdbdb;
$color-myGreyDark: #4b4b4b;

$theme-colors: (
  "primary": $color-myPinkDark,
  "secondary": $color-myPurpleDark,
  "info":$color-myPurpleLight,
  "danger": #dc3545,
  "success": #198754,
  "light": $color-myPinkLight
);

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  .btn-outline-secondary.dropdown-toggle.show {
    color:$color-myPurpleDark !important;
  }

  .btn-outline-secondary:hover { 
    color:$color-myPurpleDark !important;
  }

  body {
    margin: 8em 0.8em 4em 0.8em !important;
    background-color: $color-myGreyLight !important;
  }

  p {
    margin: 0px !important;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  h6 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .alert {
    padding: 0.5em  0.5em;
    border: none;
    font-weight: 500;
  }

  $position-values: (
    0: 0,
    30: 30%,
    50: 50%,
    100: 100%
);

  /* --- NAVBAR --- */
  .nav-tabs {
    border: none !important;
  }


  /* --- LOGIN --- */

  #login-jumbotron {
    margin: auto;
    bottom: 8em;
    border: 0.3em solid $color-myGreyLight2; 
    background-color: #f7f7f7;
    color: $color-myPurpleDark;
    padding: 3em;
    border-top-left-radius: 15px; 
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 15px; 
    border-bottom-left-radius: 0px;
  }

  #login-div {
    border-radius: 15px; 
    text-align: center;
    max-width: 35em !important;
  }

  #loginInputs {
    background-color: $color-myPurpleDark;
    color: white;
    max-width: 35em;
  }

  .companyDropDown:hover {
    background-color: lightgrey;
  }

  /* -------- STAFF --------- */

  #employeeCard {
    background-color: white;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
    border-bottom-left-radius: 5px;
    padding: 0.2em;
    margin: 0.8em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* -------- SELECTFOOD -------------*/
  #productCard {
    background-color: white;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
    border-bottom-left-radius: 5px;
    padding: 0 0 0 0;
    margin: 0.6em;
    text-align:center;
    min-width: 10em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #productHeader {
    color: $color-myGreyDark;
    font-size: 98%;
    text-align:center; 
    overflow:hidden; 
    white-space: nowrap;
  }

  #productHeaderName {
    font-weight: 600; 
    color:#160075; 
    margin-bottom: 0.2em;
    text-align:center; 
    overflow:hidden; 
    white-space: nowrap;
  }

  #staffInfo {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
    border-bottom-right-radius: 5px; 
    border-bottom-left-radius: 5px;
    background-color: #ffffff;
    right: 1em;
    top: 7em;
    color:$color-myBlueDark;
  }

  /* ----------- ADMIN --------*/
  #adminNav {
    text-align: center;
    color: $color-myPurpleDark;
  }

  .nav-tabs .nav-link.active {
    color: #495057 !important;
  }

  #adminButton {
    margin-left: 0.5em;  
    background-color: $color-myPurpleLight;
  }

  #inputHeaders {
    font-weight: 500; 
    padding-left: 0.2em;
    text-align: left;
  }

  .form-check-input:checked {
    background-color: $color-myPinkDark !important;
    border-color: $color-myPinkDark !important;
  }

  #fancycontainer {
    padding: 1em;
    font-size: larger;
    background-color: white;    
    margin-top: 1em;
  }


  /* ---------- FOOTER ------- */

  #footerView {
    padding: 0.5em; 
    background-color: #f0f0f0;
    border-top: 0.1em solid #dbdbdb;
    bottom: 0;
    width: 100%;
    position: absolute;
  }

  #footerText {
    color: $color-myPurpleDark;
    text-decoration: none;
    font-weight: 500;
  }


  /* -------- OTHER ---------- */

  #tafla {
    margin-top: 20px;
  }

  #tofluHeader {
    background-color: $color-myPinkDark;
    color: white;
  }
  
  #karfan {
    padding: 1em;
    background-color: white;
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
    border-bottom-right-radius: 20px; 
    border-bottom-left-radius: 20px;
    color:$color-myBlueDark;
    min-height: 17.3em;
    max-height: 34.3em;
    overflow-y: auto;
  }

  #korfuHeader {
    background-color: $color-myPinkDark;
    color: white;
    font-weight: 200;
  }
  
  #showSidebarButton {
    top:0px;
    right:0px;
    text-align: center;
    padding: 0.4em;
    z-index: 1000;
    background-color: white;
    margin: 0.5em;
  }

  #dropDownHeader:active {
    color: #fff;
    text-decoration: none;
    background-color: $color-myPurpleDark;
}


  /* -------- FRONT PAGE ---------- */

  .animated {
    display:none
} 

.img-container:hover .animated {
    display:block;
}

.img-container:hover .simple {
    display: none;
}

.carousel .item {
  height: 300px;
}

.frontpageworkflow {
  background: white;
  padding-top: 1em;
  box-shadow: 0 0 5px $color-myPurpleDark;
  margin: 1em;
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px; 
  border-bottom-right-radius: 20px; 
  border-bottom-left-radius: 20px;
}

.line1 {
  margin: 12em 0 0.6em 0em;
  height:1em;
  width:0;
  background:white;
  transform:rotate(-40deg);
  transform-origin:left;
  animation:grow1 3s linear forwards;
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px; 
  border-bottom-right-radius: 20px; 
  border-bottom-left-radius: 20px;
}
.line2 {
  margin:-1.5em 0em 0.5em 2em;
  height:2em;
  width:0;
  background:$color-myPurpleDark;
  transform:rotate(-40deg);
  transform-origin:left;
  animation:grow2 1s linear forwards;
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px; 
  border-bottom-right-radius: 20px; 
  border-bottom-left-radius: 20px;
}
.line3 {
  margin:0em 0 0.6em 2em;
  height:2.5em;
  width:0;
  background:$color-myPinkLight;
  transform:rotate(-40deg);
  transform-origin:left;
  animation:grow3 2s linear forwards;
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px; 
  border-bottom-right-radius: 20px; 
  border-bottom-left-radius: 20px;
}
.line4 {
  margin:-5em 0px 0.6em 8em;
  height:2em;
  width:0;
  background:$color-myPinkDark;
  transform:rotate(-40deg);
  transform-origin:left;
  animation:grow4 3s linear forwards;
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px; 
  border-bottom-right-radius: 20px; 
  border-bottom-left-radius: 20px;
}
.line5 {
  margin:1em 0px 0.6em 7em;
  height:1.2em;
  width:0;
  background:lightgray;
  transform:rotate(-40deg);
  transform-origin:left;
  animation:grow5 2s linear forwards;
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px; 
  border-bottom-right-radius: 20px; 
  border-bottom-left-radius: 20px;
}
@keyframes grow1{
  to {width:23em;}
}
@keyframes grow2{
  to {width:18em;}
}
@keyframes grow3{
  to {width:26em;}
}
@keyframes grow4{
  to {width:22em;}
}
@keyframes grow4{
  to {width:18em;}
}
@keyframes grow5{
  to {width:24em;}
}





.img-bg {
  opacity: 10%;
  height: -webkit-fill-available;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 0.5em;
}


#image-font {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.5em;
  padding: 1em;
}

.transition-div-left {
  animation: slideInFromLeft ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}

.transition-div-right {
  animation: slideInFromRight ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}

.transition-div-bottom {
  animation: slideInFromBottom ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}

.transition-div-top {
  animation: slideInFromTop ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}


@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
      transform: translateX(-10%);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
      transform: translateX(10%);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
      transform: translateY(50%);
  }
  100% {
      transform: translateY(0);
  }
}

@keyframes slideInFromTop {
  0% {
      transform: translateY(-50%);
  }
  100% {
      transform: translateY(0);
  }
}


  @import "../../../node_modules/bootstrap/scss/bootstrap.scss";
  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
  @import url('http://fonts.cdnfonts.com/css/bebas-neue');